* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    padding: 0 10px;
    cursor: pointer;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.mt-40 {
    margin-top: 40px;
}

.ml-10 {
    margin-left: 10px;
}

.wrapper .label-row:not(:first-child) {
    margin-top: 10px;
}

.center {
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.wrapper.search {
    min-width: 80vw;
}

.label-row {
    display: flex;
}

.label-row input {
    outline: none;
    border: 1px solid #477AA9;
    flex: 1;
}

.label-row input[type="text"] {
    min-height: 40px;
}

.select-box {
    display: flex;
    position: relative;
    flex: 1;
}

.select-box input {
    flex: 1;
}

.arrow-down {
    position: relative;
    cursor: pointer;
}

.arrow-down::after {
    content: "";
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid #4F81BD;
}

.arrow-down::before {
    content: "";
    position: absolute;
    z-index: 2;
    right: 2px;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 38px solid #4F81BD;
}

.submit {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.submit input {
    border: 1px solid #477AA9;
    border-radius: 10px;
    background-color: #4F81BD;
    padding: 10px 35px;
    color: white;
}

.button-md {
    border: 1px solid #477AA9;
    border-radius: 10px;
    background-color: #4F81BD;
    padding: 10px 25px;
    color: white;
}

.button-sm {
    border: 1px solid #477AA9;
    border-radius: 10px;
    background-color: #8BAACF;
    padding: 10px 20px;
    color: white;
}

table {
    width: 100%;
}

table th,
td {
    padding: 10px 0;
}

table thead th {
    text-align: left;
}

table .action-table {
    width: 148px;
}

.hide {
    display: none;
}

.dropdown {
    z-index: 50;
    position: absolute;
    left: -1px;
    width: calc(100% + 2px);
    top: calc(100% + 5px);
    list-style: none;
    background-color: white;
    border: 1px solid #477AA9;
    outline: none;
}

.dropdown li:not(:last-child) {
    border-bottom: 1px solid #477AA9;
}

.dropdown li {
    cursor: pointer;
    padding: 5px 10px;
    min-height: 30px;
}

.dropdown li:hover {
    background-color: #477AA9;
    color: #fff;
}